

@{
    ViewBag.Title = "leerProveedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TABLA DE PROVEEDORES</h2>

<p>
    @Html.ActionLink("Nuevo Proveedor", "nuevoProveedor")
</p>
<table class="table" id="tablaProveedores">
    <tr>
        <th>
            IdProveedor
        </th>
        <th>
            Nit
        </th>
        <th>
            Razon Social
        </th>
        <th>
            Dirección
        </th>

    </tr>




</table>
<script src="~/Scripts/Proveedor/Proveedor.js"></script>