@{
    ViewBag.Title = "Principal";
}

<div class="jumbotron">
    <h1>SOLUEVENTOS</h1>
    <p class="lead">Sistema para la gestión de Eventos.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Nuevo Proveedor</h2>
        <p>
            Con esta opción puedes registrar un nuevo proveedor del sistema de Eventos
        </p>

    </div>
    <div class="col-md-4">
        <h2>Ver Proveedores</h2>
        <p>Con esta opción puedes ver todos los proveedores registrados en el sistema.</p>

    </div>

</div>